@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#EEEEFF, #C8C7);
}



.emoji-picker-wrapper {
    position: absolute;
    bottom: 60px; /* Adjust if needed */
    right: 20px;
    z-index: 10;
  }
  



#chatbot-toggler {
    position: fixed;
    bottom: 30px;
    right: 35px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 50%;
    background: #5350c4;
    transition: all 0.2s ease;
}

body.show-chatbot #chatbot-toggler {
    transform: rotate(90deg);
}
#chatbot-toggler .icon.close {
    display: none;
  }
  
  .show-chatbot #chatbot-toggler .icon.open {
    display: none;
  }
  
  .show-chatbot #chatbot-toggler .icon.close {
    display: inline-block;
  }
  

#chatbot-toggler span {
    color: #fff;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.show-chatbot #chatbot-toggler span:first-child {
    opacity: 0;
}

body.show-chatbot #chatbot-toggler span:last-child {
    opacity: 1;
}

.chatbot-popup {
    position: fixed;
    right: 35px;
    bottom: 90px;
    width: 440px;
    height: 550px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transform: scale(0.2);
    transform-origin: bottom right;
    pointer-events: none;
    transition: all 0.2s ease;
    display: flex;
    flex-direction: column;
}

body.show-chatbot .chatbot-popup {
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5350c4;
    padding: 15px 22px;
}

.header-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.chatbot-logo {
    width: 35px;
    height: 35px;
    padding: 6px;
    background: #fff;
    fill: #5350c4;
    border-radius: 50%;
    flex-shrink: 0;
}

.logo-text {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
}

#close-chatbot {
    border: none;
    background: none;
    color: #fff;
    font-size: 1.9rem;
    cursor: pointer;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.2s ease;
}

#close-chatbot:hover {
    background: #2a2781;
}

.chat-body {
    flex: 1;
    padding: 25px 22px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
}

.message {
    display: flex;
    align-items: flex-end;
    gap: 11px;
}

.bot-avatar {
    width: 35px;
    height: 35px;
    padding: 6px;
    background: #5350c4;
    border-radius: 50%;
    fill: #fff;
    flex-shrink: 0;
}

.message-text {
    max-width: 75%;
    padding: 12px 16px;
    font-size: 0.95rem;
    background: #f2f2ff;
    border-radius: 13px;
}

.bot-message .message-text {
    background: #d5d5ee;
    border-radius: 13px 13px 13px 3px;
}

.user-message {
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-message .message-text {
    color: #fff;
    background: #5350c4;
    border-radius: 13px 13px 3px 13px;
}

.chat-footer {
    padding: 15px 22px;
    background: #fff;
}

.chat-form {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 32px;
    outline: 1px solid #ccc;
    position: relative;
}

.chat-form:focus-within {
    outline: 2px solid #5350c4;
}

.message-input {
    border: none;
    outline: none;
    resize: none;
    height: 47px;
    width: 100%;
    font-size: 0.95rem;
    padding: 4px 0 13px 18px;
    border-radius: inherit;
}

.chat-controls {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-right: 6px;
}

.chat-controls button {
    border: none;
    height: 35px;
    width: 35px;
    background: none;
    color: #706db0;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
}

.chat-controls button:hover {
    background: #f1f1ff;
}

#send-message {
    color: #fff;
    display: none;
    background: #5350c4;
}

.message-input:valid ~ .chat-controls #send-message {
    display: block;
}

#send-message:hover {
    background: #3d39ac;
}

.file-upload-wrapper {
    position: relative;
    height: 35px;
    width: 35px;
}

.file-upload-wrapper img,
#file-cancel {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.file-upload-wrapper.file-uploaded img,
.file-upload-wrapper.file-uploaded:hover #file-cancel {
    display: block;
}

#file-cancel {
    color: red;
    background: #fff;
}

/* Responsive */
@media (max-width: 520px) {
    #chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot-popup {
        width: 100%;
        height: 100%;
        right: 0;
        bottom: 0;
        border-radius: 0;
    }

    .chat-body {
        height: calc(100vh - 140px);
        padding: 20px 15px;
    }

    .chat-footer {
        padding: 10px 15px 15px;
    }
}
